
/****** Object:  StoredProcedure [dbo].[sp_rep_SearchFacultyByNameAndCollege]    Script Date: 7/21/2016 10:26:28 AM ******/

CREATE PROCEDURE [dbo].[sp_rep_SearchFacultyByNameAndCollege] 
	@college_code varchar(10) = null,
	@search_string varchar(255) = null
AS
BEGIN

	SET NOCOUNT ON;

	SELECT R.* FROM Researcher R
	JOIN Department D ON(D.Department_Code = R.Department_Code)
	WHERE D.Parent_Department_Code = isnull(@college_code, D.Parent_Department_Code)
	AND (
	Full_Name LIKE '%' + @search_string + '%'
	OR First_Name LIKE '%' + @search_string + '%'
	OR Middle_Name LIKE '%' + @search_string + '%'
	OR Last_Name LIKE '%' + @search_string + '%'
	)
END
GO
