USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Student_Involvement]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student_Involvement](
	[Student_Involvement_ID] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [nvarchar](255)  NULL,
	[Student_Name] [nvarchar](255) NOT NULL,
	[WOS_Number] [varchar](255) NOT NULL,
	[Dept_Code] [varchar](255)  NULL,
	[is_First_Author] [bit] NOT NULL DEFAULT ((0)) ,
	[CreatedOn] [datetime]  NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NULL DEFAULT ((0)),
 CONSTRAINT [PK__Sheet1__B63181EF3C54FC20] PRIMARY KEY CLUSTERED 
(
	[Student_Involvement_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student_Involvement] ON 

INSERT [dbo].[Student_Involvement] ([Student_Involvement_ID], [Student_ID], [Student_Name], [WOS_Number], [Dept_Code], [is_First_Author]) VALUES (1, NULL, N'Abugurain, A', N'WOS:000186828000041', N'EE', 0)
INSERT [dbo].[Student_Involvement] ([Student_Involvement_ID], [Student_ID], [Student_Name], [WOS_Number], [Dept_Code], [is_First_Author]) VALUES (2, NULL, N'Shakil, M.', N'WOS:000267312000007', N'SE', 0)
INSERT [dbo].[Student_Involvement] ([Student_Involvement_ID], [Student_ID], [Student_Name], [WOS_Number], [Dept_Code], [is_First_Author]) VALUES (3, NULL, N'Jimoh, Abiola Azeez', N'WOS:000359208500001', N'CENT', 0)
GO
SET IDENTITY_INSERT [dbo].[Student_Involvement] OFF
