USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Patent_Issued]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patent_Issued](
	[Patent_Issued_ID] [int] IDENTITY(1,1) NOT NULL,
	[Patent_No] [nvarchar](1000) NOT NULL,
	[Patent_Title] [nvarchar](1000) NOT NULL,
	[Country] [nvarchar](1000) NOT NULL,
	[Year_Of_Issue] [int] NOT NULL,
	[Ownership_Of_Patent] [nvarchar](1000) NULL,
	[Patent_Granting_Authority] [nvarchar](1000) NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Patent_Issued] PRIMARY KEY CLUSTERED 
(
	[Patent_Issued_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Patent_Issued] ON 

INSERT [dbo].[Patent_Issued] ([Patent_Issued_ID], [Patent_No], [Patent_Title], [Country], [Year_Of_Issue], [Ownership_Of_Patent], [Patent_Granting_Authority], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, N'JP3948905', N'Fluidized Catalytic Cracking Process For Heavy Oil', N'Japan', 2007, N'Petroleum Energy Center, KFUPM, Nippon Mitsubishi Oil Corp', NULL, CAST(N'2016-06-27 15:02:28.253' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.483' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Patent_Issued] ([Patent_Issued_ID], [Patent_No], [Patent_Title], [Country], [Year_Of_Issue], [Ownership_Of_Patent], [Patent_Granting_Authority], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, N'JP20010045197', N'Fluid catalytic cracking process of heavy oil', N'Japan', 2007, NULL, NULL, CAST(N'2016-06-27 15:02:28.253' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.483' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Patent_Issued] ([Patent_Issued_ID], [Patent_No], [Patent_Title], [Country], [Year_Of_Issue], [Ownership_Of_Patent], [Patent_Granting_Authority], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, N'US7168387', N'Submersible Craft for Water Purification', N'United States', 2007, N'KFUPM', NULL, CAST(N'2016-06-27 15:02:28.253' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.483' AS DateTime), N'imran', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Patent_Issued] OFF
