USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_ID] [int] IDENTITY(1,1) NOT NULL,
	[Department_Name] [nvarchar](1000) NOT NULL,
	[Department_Code] [nvarchar](255) NOT NULL,
	[Parent_Department_ID] [int] NULL,
	[Parent_Department_Code] [nvarchar](1000) NULL,
	[Department_Level] [int]  NULL,
	[Department_Type] [nvarchar](1000) NOT NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Department_ID], [Department_Name], [Department_Code], [Parent_Department_ID], [Parent_Department_Code], [Department_Level], [Department_Type], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, N'College of Petroleum Engineering and Geosciences', N'CPG', 54, N'Academics', 3, N'CLG', CAST(N'2016-06-27 15:02:28.247' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.480' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Department] ([Department_ID], [Department_Name], [Department_Code], [Parent_Department_ID], [Parent_Department_Code], [Department_Level], [Department_Type], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, N'Deanship Scientific Research', N'DSR', 58, N'Deanships', 4, N'MISC', CAST(N'2016-06-27 15:02:28.247' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.480' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Department] ([Department_ID], [Department_Name], [Department_Code], [Parent_Department_ID], [Parent_Department_Code], [Department_Level], [Department_Type], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, N'Financial Affairs', N'FA', NULL, N'Departments', 4, N'MISC', CAST(N'2016-06-27 15:02:28.247' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.480' AS DateTime), N'imran', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Department] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Departme__4E5BB902D4491558]    Script Date: 7/21/2016 12:26:41 PM ******/
ALTER TABLE [dbo].[Department] ADD  CONSTRAINT [UQ__Departme__4E5BB902D4491558] UNIQUE NONCLUSTERED 
(
	[Department_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
