USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Patent_Issued_Author]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patent_Issued_Author](
	[Patent_Issued_Author_ID] [int] IDENTITY(1,1) NOT NULL,
	[Patent_Issued_ID] [int] NOT NULL,
	[Patent_Number] [nvarchar](1000) NOT NULL,
	[KFUPMID] [float] NOT NULL,
	[Remarks] [nvarchar](1000) NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Patent_Issued_Author] PRIMARY KEY CLUSTERED 
(
	[Patent_Issued_Author_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Patent_Issued_Author] ON 

INSERT [dbo].[Patent_Issued_Author] ([Patent_Issued_Author_ID], [Patent_Issued_ID], [Patent_Number], [KFUPMID], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, 137, N'US8596047', 6801949, NULL, CAST(N'2016-06-27 15:02:28.257' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.487' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Patent_Issued_Author] ([Patent_Issued_Author_ID], [Patent_Issued_ID], [Patent_Number], [KFUPMID], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, 138, N'US201113190399', 6801949, NULL, CAST(N'2016-06-27 15:02:28.257' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.487' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Patent_Issued_Author] ([Patent_Issued_Author_ID], [Patent_Issued_ID], [Patent_Number], [KFUPMID], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, 246, N'US8857696', 6901252, NULL, CAST(N'2016-06-27 15:02:28.257' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.487' AS DateTime), N'imran', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Patent_Issued_Author] OFF
ALTER TABLE [dbo].[Patent_Issued_Author]  WITH CHECK ADD  CONSTRAINT [FK_Patent_Issued_Author_Patent_Issued] FOREIGN KEY([Patent_Issued_ID])
REFERENCES [dbo].[Patent_Issued] ([Patent_Issued_ID])
GO
ALTER TABLE [dbo].[Patent_Issued_Author] CHECK CONSTRAINT [FK_Patent_Issued_Author_Patent_Issued]
GO
