USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Patent_Applied]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patent_Applied](
	[Patent_Applied_ID] [int] IDENTITY(1,1) NOT NULL,
	[Reference_Number] [nvarchar](255) NULL,
	[Filled_By] [nvarchar](255) NOT NULL,
	[Filling_Date] [datetime] NOT NULL,
	[Attorney_Docket_Number] [float] NULL,
	[Patent_Application_Title] [nvarchar](255) NOT NULL,
	[Application_Patent_Number] [nvarchar](255) NOT NULL,
	[Remarks] [nvarchar](255) NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Patents_Applied] PRIMARY KEY CLUSTERED 
(
	[Patent_Applied_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Patent_Applied] ON 

INSERT [dbo].[Patent_Applied] ([Patent_Applied_ID], [Reference_Number], [Filled_By], [Filling_Date], [Attorney_Docket_Number], [Patent_Application_Title], [Application_Patent_Number], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, N'COE049', N'Saudi Aramco', CAST(N'2007-02-07 00:00:00.000' AS DateTime), 18692.19, N'Elliptic Curve Scalar Multiplication with Dynamic Projective Coordinates', N'Patent US7856101', NULL, CAST(N'2016-06-27 15:02:28.303' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.513' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Patent_Applied] ([Patent_Applied_ID], [Reference_Number], [Filled_By], [Filling_Date], [Attorney_Docket_Number], [Patent_Application_Title], [Application_Patent_Number], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, N'COE033', N'Saudi Aramco', CAST(N'2007-05-02 00:00:00.000' AS DateTime), 18692.15, N'Parametric Projective Coordinates', N'Abandoned US11/797369', NULL, CAST(N'2016-06-27 15:02:28.303' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.513' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Patent_Applied] ([Patent_Applied_ID], [Reference_Number], [Filled_By], [Filling_Date], [Attorney_Docket_Number], [Patent_Application_Title], [Application_Patent_Number], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, N'ME067', N'Saudi Aramco', CAST(N'2007-06-27 00:00:00.000' AS DateTime), 18692.34, N'Two Phase Nozzle for Water Rocket ', N'Patent US7891166', NULL, CAST(N'2016-06-27 15:02:28.303' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.513' AS DateTime), N'imran', 1, 0)
SET IDENTITY_INSERT [dbo].[Patent_Applied] OFF
ALTER TABLE [dbo].[Patent_Applied]  WITH CHECK ADD  CONSTRAINT [FK_Patent_Applied_Patent_Applied] FOREIGN KEY([Patent_Applied_ID])
REFERENCES [dbo].[Patent_Applied] ([Patent_Applied_ID])
GO
ALTER TABLE [dbo].[Patent_Applied] CHECK CONSTRAINT [FK_Patent_Applied_Patent_Applied]
GO
