USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Publication_NonISI_Author]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publication_NonISI_Author](
	[Publication_NonISI_Author_ID] [int] IDENTITY(1,1) NOT NULL,
	[KFUPMID] [float] NULL,
	[Publication_NonISI_ID] [int] NULL,
	[isCorresponding_Author] [bit] NULL CONSTRAINT [DF_Publication_NonISI_Author_isCorresponding_Author]  DEFAULT ((0)),
	[Remarks] [nvarchar](1000) NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Publication_NonISI_Author] PRIMARY KEY CLUSTERED 
(
	[Publication_NonISI_Author_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Publication_NonISI_Author] ON 

INSERT [dbo].[Publication_NonISI_Author] ([Publication_NonISI_Author_ID], [KFUPMID], [Publication_NonISI_ID], [isCorresponding_Author], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, 1770165, 1, NULL, NULL, CAST(N'2016-06-27 15:02:28.393' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.583' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Publication_NonISI_Author] ([Publication_NonISI_Author_ID], [KFUPMID], [Publication_NonISI_ID], [isCorresponding_Author], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, 1771957, 2, NULL, NULL, CAST(N'2016-06-27 15:02:28.393' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.583' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Publication_NonISI_Author] ([Publication_NonISI_Author_ID], [KFUPMID], [Publication_NonISI_ID], [isCorresponding_Author], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, 1771957, 3, NULL, NULL, CAST(N'2016-06-27 15:02:28.393' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.583' AS DateTime), N'imran', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Publication_NonISI_Author] OFF
