USE [RMS_DB]
GO
/****** Object:  Table [dbo].[GraduateStudent]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraduateStudent](
	[GraduateStudentID] [int] IDENTITY(1,1) NOT NULL,
	[AdvisorID] [float] NOT NULL,
	[StudentID] [nvarchar](1000) NOT NULL,
	[StudentName] [nvarchar](1000) NOT NULL,
	[StudentDepartmentCode] [nvarchar](1000) NOT NULL,
	[Nationality] [nvarchar](1000) NULL,
	[Degree] [nvarchar](1000) NULL,
	[Major] [nvarchar](1000) NULL,
	[Level] [nvarchar](1000) NULL,
	[Classification] [nvarchar](1000) NULL,
	[Full_PartTime] [nvarchar](1000) NULL,
	[EffectiveDate] [datetime] NULL,
	[Year] [int] NULL,
	[ThesisTitle] [nvarchar](1000) NULL,
	[ThesisStatus] [nvarchar](1000) NULL,
	[LevelGPA] [float] NULL,
	[NumberOfActiveTerms] [int] NULL,
	[GraduationTerm] [int] NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_GraduateStudent] PRIMARY KEY CLUSTERED 
(
	[GraduateStudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[GraduateStudent] ON 

GO
SET IDENTITY_INSERT [dbo].[GraduateStudent] OFF
ALTER TABLE [dbo].[GraduateStudent]  WITH CHECK ADD  CONSTRAINT [FK_GraduateStudent_GraduateStudent] FOREIGN KEY([GraduateStudentID])
REFERENCES [dbo].[GraduateStudent] ([GraduateStudentID])
GO
ALTER TABLE [dbo].[GraduateStudent] CHECK CONSTRAINT [FK_GraduateStudent_GraduateStudent]
GO
