USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Publication_NonISI]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publication_NonISI](
	[Publication_NonISI_ID] [int] IDENTITY(1,1) NOT NULL,
	[KFUPMID] [float] NULL,
	[DOI] [nvarchar](1000) NULL,
	[Authors] [nvarchar](1000) NULL,
	[Paper_Title] [nvarchar](1000) NULL,
	[Source] [nvarchar](1000) NULL,
	[Publication_Year] [int] NULL,
	[Approved] [bit] NULL,
	[isCorrespondingAuthor] [bit] NOT NULL  DEFAULT ((0)),
	[CreatedOn] [datetime] NULL CONSTRAINT [DF_Publication_NonISI_CreatedOn]  DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL CONSTRAINT [DF_Publication_NonISI_Active_flag]  DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL CONSTRAINT [DF_Publication_NonISI_Deleted_flag]  DEFAULT ((0)),
 CONSTRAINT [PK_Publication_NonISI] PRIMARY KEY CLUSTERED 
(
	[Publication_NonISI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Publication_NonISI] ON 

INSERT [dbo].[Publication_NonISI] ([Publication_NonISI_ID], [KFUPMID], [DOI], [Authors], [Paper_Title], [Source], [Publication_Year], [Approved], [isCorrespondingAuthor], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, 1770165, NULL, N'Sadi, Muhammad Asad and Muhammad A. Al-Buraey.', N'A Framework for Implementation Process: The Case of Saudization', N'International Management Review', 2009, 0, 0, (getdate()), 'imran',NULL,NULL,1,0)
INSERT [dbo].[Publication_NonISI] ([Publication_NonISI_ID], [KFUPMID], [DOI], [Authors], [Paper_Title], [Source], [Publication_Year], [Approved], [isCorrespondingAuthor], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, 1771957, NULL, N'Taqi N. Al-Faraj ', N'Vendor Selection by Means of Data Envelopment Analysis', N'The Business Review, Cambridge', 2006, 0, 0, (getdate()), 'imran',NULL,NULL,1,0)
INSERT [dbo].[Publication_NonISI] ([Publication_NonISI_ID], [KFUPMID], [DOI], [Authors], [Paper_Title], [Source], [Publication_Year], [Approved], [isCorrespondingAuthor], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, 1771957, N'10.1016/j.seps.2004.10.002', N'Taqi N. Al-Faraj and Shah M Shariq', N'Productivity Assessment of the GCC Countries by Means of DEA', N'International Journal of Business research', 2006, 0, 0, (getdate()), 'imran',NULL,NULL,1,0)
INSERT [dbo].[Publication_NonISI] ([Publication_NonISI_ID], [KFUPMID], [DOI], [Authors], [Paper_Title], [Source], [Publication_Year], [Approved], [isCorrespondingAuthor], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (35, 1850074, N'10.1108/18347641311312320
', N'Razi, Muhammed A. and Haider H. Madani', N'An Analysis of Attributes that Impact Adoption of Audit Software: An Empirical Study in Saudi Arabia', N'International Journal of Accounting and Information Management', 2013, 0, 0, (getdate()), 'imran',NULL,NULL,1,0)
GO
SET IDENTITY_INSERT [dbo].[Publication_NonISI] OFF
