USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Book_Authored_Author]    Script Date: 7/21/2016 12:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Authored_Author](
	[Book_Authored_Author_ID] [int] IDENTITY(1,1) NOT NULL,
	[Book_Authored_ID] [int] NOT NULL,
	[KFUPMID] [float] NOT NULL,
	[Contribution] [nvarchar](1000) NULL,
	[Remarks] [nvarchar](1000) NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Book_Authored_Person] PRIMARY KEY CLUSTERED 
(
	[Book_Authored_Author_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Book_Authored_Author] ON 

INSERT [dbo].[Book_Authored_Author] ([Book_Authored_Author_ID], [Book_Authored_ID], [KFUPMID], [Contribution], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, 1, 6841028, NULL, NULL, CAST(N'2016-06-27 15:02:28.317' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.520' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Book_Authored_Author] ([Book_Authored_Author_ID], [Book_Authored_ID], [KFUPMID], [Contribution], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, 1, 6860763, NULL, NULL, CAST(N'2016-06-27 15:02:28.317' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.520' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Book_Authored_Author] ([Book_Authored_Author_ID], [Book_Authored_ID], [KFUPMID], [Contribution], [Remarks], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, 2, 1781154, NULL, NULL, CAST(N'2016-06-27 15:02:28.317' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.520' AS DateTime), N'imran', 1, 0)
SET IDENTITY_INSERT [dbo].[Book_Authored_Author] OFF
ALTER TABLE [dbo].[Book_Authored_Author]  WITH CHECK ADD  CONSTRAINT [FK_Book_Authored_Author_Book_Authored] FOREIGN KEY([Book_Authored_ID])
REFERENCES [dbo].[Book_Authored] ([Book_Authored_ID])
GO
ALTER TABLE [dbo].[Book_Authored_Author] CHECK CONSTRAINT [FK_Book_Authored_Author_Book_Authored]
GO
ALTER TABLE [dbo].[Book_Authored_Author]  WITH CHECK ADD  CONSTRAINT [FK_Book_Authored_Author_Researcher] FOREIGN KEY([KFUPMID])
REFERENCES [dbo].[Researcher] ([KFUPMID])
GO
ALTER TABLE [dbo].[Book_Authored_Author] CHECK CONSTRAINT [FK_Book_Authored_Author_Researcher]
GO
