USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Book_Authored]    Script Date: 7/21/2016 12:26:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Authored](
	[Book_Authored_ID] [int] NOT NULL,
	[Book_Title] [nvarchar](1000) NOT NULL,
	[Authors] [nvarchar](1000) NOT NULL,
	[Publication_Year] [nvarchar](1000) NULL,
	[Publisher] [nvarchar](1000)  NULL,
	[Country] [nvarchar](1000) NULL,
	[Project_Code] [nvarchar](1000) NULL,
	[Funding_Year] [int] NULL,
	[Completed] [nvarchar](1000) NULL,
	[Language] [nvarchar](1000) NULL,
	[isCompleted] [bit] NOT NULL CONSTRAINT [DF_Book_Authored_isCompleted]  DEFAULT ((0)),
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_Book_Authored] PRIMARY KEY CLUSTERED 
(
	[Book_Authored_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Book_Authored] ([Book_Authored_ID], [Book_Title], [Authors], [Publication_Year], [Publisher], [Country], [Project_Code], [Funding_Year], [Completed], [Language], [isCompleted], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, N'On a Class of Incomplete Gamma Functions with Applications', N'Dr. Mohammad Aslam Chaudhry; Dr. Syed M. Zubair', NULL, NULL, NULL, N'MS/CLASS/208', 2000, N'Yes', N'English', 1, CAST(N'2016-06-27 15:02:28.433' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.610' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Book_Authored] ([Book_Authored_ID], [Book_Title], [Authors], [Publication_Year], [Publisher], [Country], [Project_Code], [Funding_Year], [Completed], [Language], [isCompleted], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, N'Saudi Cases in Managerial Economics', N'Dr. Mohammad Al-Sahlawi', NULL, NULL, NULL, N'IM/M-ECONOMICS/211', 2000, N'Yes', N'English', 1, CAST(N'2016-06-27 15:02:28.433' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.610' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Book_Authored] ([Book_Authored_ID], [Book_Title], [Authors], [Publication_Year], [Publisher], [Country], [Project_Code], [Funding_Year], [Completed], [Language], [isCompleted], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, N'Integrated Models in PIQM: Production, Planning, Inventory, Maintenance and Quality', N'Dr. Mohammad Ben Daya', NULL, NULL, NULL, N'SE/PIQM/217', 2001, N'Yes', N'English', 1, CAST(N'2016-06-27 15:02:28.433' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.610' AS DateTime), N'imran', 1, 0)
