USE [RMS_DB]
GO
/****** Object:  Table [dbo].[Nationality]    Script Date: 7/21/2016 12:26:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationality](
	[Nationality_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nationality_Text] [nvarchar](255) NOT NULL,
	[CreatedOn] [datetime] NOT NULL DEFAULT (getdate()),
	[CreatedBy] [nvarchar](255) NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](255) NULL,
	[Active_flag] [bit] NOT NULL DEFAULT ((1)),
	[Deleted_flag] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK__National__3214EC27E5D4FF10] PRIMARY KEY CLUSTERED 
(
	[Nationality_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Nationality] ON 

INSERT [dbo].[Nationality] ([Nationality_ID], [Nationality_Text], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (1, N'Afghani', CAST(N'2016-06-27 15:02:28.300' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.510' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Nationality] ([Nationality_ID], [Nationality_Text], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (2, N'Algerian', CAST(N'2016-06-27 15:02:28.300' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.510' AS DateTime), N'imran', 1, 0)
INSERT [dbo].[Nationality] ([Nationality_ID], [Nationality_Text], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy], [Active_flag], [Deleted_flag]) VALUES (3, N'American', CAST(N'2016-06-27 15:02:28.300' AS DateTime), N'imran', CAST(N'2016-06-27 15:02:33.510' AS DateTime), N'imran', 1, 0)
SET IDENTITY_INSERT [dbo].[Nationality] OFF
